
@import "./components/reset";
@import "./components/fonts";
@import "./components/mixin";
@import "./components/setting";
@import "./components/header";
@import "./components/footer";
@import "./components/keyframes";
@import "./components/element";
@import "./components/banner";

html{
    &.loaded {
        #msapp {
            display: block;
        }
    }

    &:not(.msie) {
        position: relative;
        // IE
    }
}

#msapp{
    display: none;
    position: relative;
    overflow-x: hidden;

    // Frome Previouse code :: start
    *, *::before,*::after{
        box-sizing: border-box;
    }

    min-width:300px;

    #content {
        position: relative;
        text-align: center;
    }

    section {
        position: relative;
        text-align: center;
        width:100%;
        padding:25px 0;
    }

    h1, h2 {
        font-family: $scmp-font-title;
        font-weight: 900;
        line-height: 1.2;
        margin-bottom: 25px;
    }

    h1 {
        font-family:$scmp-font-philosopher;
        font-size:36px;

       @media only screen and (min-width:1024px){
           font-size:40px;
       }
    }

    h2 {
        font-size:20px;
        text-align: left;
        + p {
            margin-top:15px;
        }
    }

    h3 {
        &.visual-title {
            font-family: $scmp-font-desc;
            font-size: 14px;
            line-height: 1.6;
            font-weight: 400;
        }
    }

    p {
        font-family: $scmp-font-desc;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        margin:0 auto;
        padding:0;
        + p {
            margin-top: 35px;
        }

        a {
            font-weight: bold;
            color:#0000EE;
        }
    }

    strong {
        font-weight: bold;
    }

    figure {
        margin:0;
        padding:0;

        img {
            max-width: 100%;
            pointer-events: none;
        }
    }

    button, a {
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }

    .edit-info {
        margin-bottom:25px;
        p {
            padding:0;
            margin:0;

            a {
                color:#ffffff;
            }
        }
    }

    .subtit {
        font-size: 22px;
        font-family: $scmp-font-title;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 1.4;
        margin-bottom: 25px;

        @include media($mobile){
            font-size: 20px;
            line-height: 1.4;
        }

        @include media($se){
            font-size:18px;
        }
    }

    .remark {
        font-size: 12px;
        line-height: 1.3;
        font-family: $scmp-font-desc;
        font-style: italic;
        font-weight: 200;
    }

    .context {
        position: relative;
        z-index: 10;
        width: 100%;
        max-width: 615px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:0 auto;

        @include media($tablet){
            padding:30px 20px 0 20px;
        }
    }

    .inner {
        width: 100%;
        max-width: 427.5px;
        text-align: left;
        margin:0 auto;
    }

    .blind {
        overflow: hidden;
        width:0px;
        height:0px;
        font-size: 1px;
        line-height: 1;
        opacity: 0;
        pointer-events: none !important;
    }

    // Frome Previouse code :: Fin
}

@import "./components/content";