
// Page Loading
.ms-loading {
    position:fixed;
    top:0;
    right:0;
    width:100%;
    height:100%;
    z-index: 999999;
    background-color: #ffffff;

    &:after {
        content:"";
        display: block;
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        right:100%;
        background-color:$scmp-dark-blue;
    }

    .ms-loading-inner {
        position: relative;
        width:100%;
        max-width:90%;
        height:100%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .loader-logos {
        margin-bottom:50px;
        .logo-rolex {
            position: relative;
            top:0px;
            display: block;
            text-align: center;
        }
        .logo-ms {
            display:none;
            position: relative;
            width:70px;
            height:54px;
            left:0;
            .logo-ms-innner {
                position: relative;
                width: 100%;
                height:100%;
                overflow: hidden;

                .ms-logo-frame {
                    position: absolute;
                    z-index: 99;
                    top:0px;
                    left:0px;
                    width:100%;
                    height:100%;
                    background: url('#{$imgCommon}ms_window.png') center center;
                    background-size:100% 100%;
                }

                .ms-logo-sun {
                    position: absolute;
                    z-index: 9;
                    bottom:-20px;
                    right:-5px;
                    width:50px;
                    height:50px;
                    background-color: #ffcb08;
                    border-radius: 50%;
                }
            }
        }
    }

    .loader-bar {
        width:100%;
        display: flex;
        justify-content: flex-start;
        .loading-progress {
            width:100%;
            height:2px;
            background-color:#f1f1f1;

            .loading-progress-bar {
                position: relative;
                width:0%;
                height:100%;
                background-color: $scmp-dark-blue;
                .loading-progress-text {
                    opacity: 1;
                    position: absolute;
                    top:10px;
                    right:0px;

                    font-family: $scmp-font-desc;
                    font-size: 14px;
                    text-transform: uppercase;
                    color:$scmp-dark-blue;
                }
            }
        }
    }

    &.after-full-load {
        width:100%;
        &:after {
            width:0%;
            top:0;
            @include ani-select(width 3s ease);
        }

        .loader-logos {
            .logo-ms {
                opacity: 0;
                left:100px;
                @include ani-select(opacity 1s ease, left 1s ease);
            }

            .logo-rolex {
                opacity: 0;
                top:-32px;
                @include ani-select(opacity 1s ease, top 1s ease);
            }
        }

        .ms-loading-inner {
            .loader-bar {
                justify-content: flex-end;
                .loading-progress {
                    width:0%;
                    @include  ani-select(width 1s ease);
                }
                .loading-progress-text {
                    opacity: 0;
                    @include ani-select(opacity 0.5s ease);
                    transition-delay: 1s;
                }
            }
        }
    }
}

.loading-ani {
    position: relative;
    width:75px;
    height:54px;
    text-align: center;
    opacity: 1;

    &.type-scmp-white {
        .scmp-outline {
            > div {
                background-color: #FFFFFF;
            }
        }
    }

    &.loaded {
        width:0px;
        height:0px;
        opacity: 0;
        @include ani-select(width 1s ease-in-out, height 1s ease-in-out, opacity 0.4s ease);
        transition-delay: 2s;

        .loading-count {
            opacity: 0;
            top:10px;
            @include ani-select(opacity 0.5s ease, top 0.5s ease-in-out);
        }

        .scmp-inline {
            .in-block-l, .in-block-r {
                height:0px;
                @include ani-select(height 1s ease-in-out);
            }
        }

        .scmp-ms-sun {
            .obj-sun {
                bottom:-20%;
                @include ani-select(bottom 1s ease);
                transition-delay: 0.6s;
            }
        }

        &.type-scmp-white {
            .scmp-outline {
                > div {
                    background-color: $scmp-dark-blue;
                    @include ani-select(background-color 1s ease);
                }
            }
        }
    }

    .loading-ani-inner {
        position: relative;
        overflow: hidden;
        width:100%;
        height:100%;
    }

    .loading-count {
        position: relative;
        top:0px;
        margin-top:10px;
        span {
            font-family: $scmp-font-desc;
            font-size: 10px;
            font-style: italic;
        }
    }

    .scmp-outline {
        position: relative;
        z-index: 1;
        width:100%;
        height:100%;
        > div {
            position: absolute;
            background-color: $scmp-dark-blue;
        }
        .line-l, .line-r, .line-c {
            top:0px;
            display: block;
            width:6px;
            height:100%;
        }

        .line-t, .line-b {
            left:0;
            width:100%;
            height:6px;
        }

        .line-t {
            top:0;
        }

        .line-b {
            bottom:0;
        }

        .line-l {
            left:0;
        }
        .line-r {
            right:0;
        }
        .line-c {
            left:50%;
            transform: translateX(-50%);
        }
    }

    .scmp-inline {
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        width:100%;
        height:100%;

        .in-block-l, .in-block-r {
            position: absolute;
            width:28.5px;
            height:42px;
            background-color:#f1f1f1;
            .in-color {
                position: relative;
                width:100%;
                height:100%;
                overflow: hidden;
                > div {
                    position: absolute;
                    z-index: 1;
                    bottom:0;
                    width:100%;
                    height:0%;
                }
                &:after {
                    content:"";
                    display: block;
                    width:100%;
                    height:40px;
                    position: absolute;
                    bottom:0;
                    left:0;
                    background: rgba(255,255,255,0);
                    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
                    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
                    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
                    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
                    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

                    @include customani(loadingblink, 2s, infinite, ease-in-out);
                }
            }
        }

        .in-block-l {
            top:6px;
            left:6px;
            .in-color {
                > div {background-color: $scmp-yellow;}
            }
        }

        .in-block-r {
            top:6px;
            right:6px;
            .in-color {
                > div {background-color: $scmp-dark-blue;}
            }
        }
    }

    .scmp-ms-sun {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: 0;
        .obj-sun {
            position: absolute;
            bottom:-100%;
            left:38%;
            width:45px;
            height:45px;
            border-radius: 50%;
            background-color: $scmp-yellow;
        }
    }
}

// Landspace Message
.msg-landscape {
    position: fixed;
    z-index: 99999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(#000000, 0.9);
    .msg-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height:100%;
    }

    .alert-landscape {
        font-family: $scmp-font-desc;
        font-weight: 100;
        line-height: 1.4;
        text-align: center;

        a {
            display: block;
            margin-top:20px;
            color:#ffffff;
            font-size: 12px;
            font-weight: 100;
            text-decoration: underline !important;
        }
    }

    .alert-phone {
        width:180px;
        height:180px;
        margin:0 auto;
        display: flex;
        align-items: center;

        .obj-phone {
            display: block;
            width:130px;
            height:70px;
            border:2px solid #ffffff;
            border-radius: 10px;
            margin:0 auto;
            overflow: hidden;

            @include customani(landscapephone, 5s, infinite, ease-in-out);

            .obj-phone-con {
                width:100px;
                height:178px;
                position: absolute;
                top:50%;
                left:50%;
                background:url('https://multimedia.scmp.com/native/infographics/article/common/images/landscape.png') center center no-repeat;
                background-size: 100% 100%;
                transform: translateX(-50%) translateY(-50%);
                transform-origin: center center;
                @include customani(landscapephonecon, 5s, infinite, ease-in-out);
            }

            &:after {
                content:"";
                width:2px;
                height:30px;
                background-color: #fff;
                border-radius: 5px;
                position: absolute;
                right:5px;
                top:50%;
                transform: translateY(-50%);
            }
        }
    }
}

// Cursor Animation
.ms-cursor {
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    .ms-cursor-inner {
        position: relative;
        .ms-cursor-circle {
            position: absolute;
            width:20px;
            height:20px;
            border-radius: 50%;
            border:1px solid $scmp-dark-blue;
            top:-10px;
            left:-10px;
        }
    }
}


// Scroll icon in KV
.ms-ico-scroll {
    position: absolute;
    bottom:20px;
    left:50%;
    transform: translateX(-50%);

    @include media($mobile){
        bottom:10px;
    }

    $linecolor:#000000;
    .ms-ico-scroll-inner {
        text-align: center;

        .ms-scroll-mouse {
            pointer-events: none;
            width:24px;
            margin:0 auto;

            .ms-scroll-mouse-outer {
                position: relative;
                z-index: 1;
                width:24px;
                height:50px;
                border-radius: 15px;
                border:3px solid $linecolor;
                background-color: rgba(255,255,255,0.4);

                -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);

                .ms-scroll-mouse-inner {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border:1px solid #f3f3f3;
                    border-radius: 12px;;

                    > div {
                        display: block;
                        width:3px;
                        height:3px;
                        margin:0 auto;
                        border-radius: 3px;
                        background-color: $linecolor;

                        &:nth-child(1), &:nth-child(2) {
                            @include customani(mousescrolldot, 2s, infinite, ease-in-out);
                        }

                        &:nth-child(4), &:nth-child(5) {
                            @include customani(mousescrolldot, 2s, infinite, ease-in-out);
                            animation-delay: 1s;
                        }

                        + div {
                            margin-top:2px;
                        }
                    }

                    .line-long  {
                        height:14px;
                    }
                }
            }
        }

        .scroll-text {
            text-align: center;
            margin-top:5px;
            span {
                font-family: $scmp-font-desc;
                font-size: 10px;
                text-transform: uppercase;
            }
        }
    }
}

.ms-remark-plz {
    font-family: $scmp-font-robotoc;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    margin-bottom:20px;
    img {
        display: inline-block;
        width:12px;
        vertical-align: middle;
        line-height: 1;
        margin-left:5px;
    }
}