@-moz-keyframes mousescrolldot {
    from {
        height:3px;
    }
    50% {
        height:0px;
    }
    to {
        height:3px;
    }
}

@-webkit-keyframes mousescrolldot {
    from {
        height:3px;
    }
    50% {
        height:0px;
    }
    to {
        height:3px;
    }
}

@keyframes mousescrolldot {
    from {
        height:3px;
    }
    50% {
        height:0px;
    }
    to {
        height:3px;
    }
}

@-moz-keyframes loadingblink {
    from {
        bottom:-100%;
    }
    to {
        bottom:100%;
    }
}

@-webkit-keyframes loadingblink {
    from {
        bottom:-100%;
    }
    to {
        bottom:100%;
    }
}

@keyframes loadingblink {
    from {
        bottom:-100%;
    }
    to {
        bottom:100%;
    }
}


@-moz-keyframes circlebigger {
    from {
        width:100%;
        height:100%;
        opacity: 1;
    }
    to {
        width:200%;
        height:200%;
        opacity: 0;
    }
}

@-webkit-keyframes circlebigger {
    from {
        width:100%;
        height:100%;
        opacity: 1;
    }
    to {
        width:200%;
        height:200%;
        opacity: 0;
    }
}

@keyframes circlebigger {
    from {
        width:100%;
        height:100%;
        opacity: 1;
    }
    to {
        width:200%;
        height:200%;
        opacity: 0;
    }
}

@-moz-keyframes circlebigger2 {
    from {
        width:100%;
        height:100%;
        opacity: 1;
    }
    to {
        width:250%;
        height:250%;
        opacity: 0;
    }
}

@-webkit-keyframes circlebigger2{
    from {
        width:100%;
        height:100%;
        opacity: 1;
    }
    to {
        width:250%;
        height:250%;
        opacity: 0;
    }
}

@keyframes circlebigger2 {
    from {
        width:100%;
        height:100%;
        opacity: 1;
    }
    to {
        width:250%;
        height:250%;
        opacity: 0;
    }
}

@-moz-keyframes circleinsideout {
    from {
        width:60%;
        height:60%;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    to {
        width:150%;
        height:150%;
        opacity: 0;
    }
}

@-webkit-keyframes circleinsideout {
    from {
        width:60%;
        height:60%;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    to {
        width:150%;
        height:150%;
        opacity: 0;
    }
}

@keyframes circleinsideout {
    from {
        width:60%;
        height:60%;
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    to {
        width:150%;
        height:150%;
        opacity: 0;
    }
}



@-moz-keyframes icoplusmicro {
    from {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes icoplusmicro{
    from {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes icoplusmicro {
    from {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-moz-keyframes updown {
    from {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}

@-webkit-keyframes updown{
    from {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}

@keyframes updown {
    from {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-5px);
    }
}



@-moz-keyframes icoface {
    from {
        transform: translateX(0px) translateY(0px);
    }
    25% {
        transform: translateX(-5px) translateY(-5px);
    }
    50% {
        transform: translateX(0px) translateY(-10px);
    }
    75% {
        transform: translateX(5px) translateY(0px);
    }   
    to {
        transform: translateX(-5px) translateY(10px);
    }
}

@-webkit-keyframes icoface{
    from {
        transform: translateX(0px) translateY(0px);
    }
    25% {
        transform: translateX(-5px) translateY(-5px);
    }
    50% {
        transform: translateX(0px) translateY(-10px);
    }
    75% {
        transform: translateX(5px) translateY(0px);
    }   
    to {
        transform: translateX(-5px) translateY(10px);
    }
}

@keyframes icoface {
    from {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    10% {
        transform: translateX(-5px) translateY(-5px) rotate(10deg);
    }
    25% {
        transform: translateX(-10px) translateY(-10px) rotate(30deg);
    }
    50% {
        transform: translateX(0px) translateY(-10px) rotate(20deg);
    }
    60% {
        transform: translateX(0px) translateY(-10px) rotate(45deg);
    }
    75% {
        transform: translateX(5px) translateY(0px) rotate(-5deg);
    }
    90% {
        transform: translateX(-5px) translateY(10px) rotate(15deg);
    }
    to {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
}



@-moz-keyframes dotfade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes dotfade{
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes dotfade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}


@-moz-keyframes messageline {
    from {
        width:0%;
    }
    40% {
        width:90%;
    }
    60% {
        width:70%;
    }
    80% {
        width:95%;
    }
    to {
        width:100%;
    }
}

@-webkit-keyframes messageline{
    from {
        width:0%;
    }
    40% {
        width:90%;
    }
    60% {
        width:70%;
    }
    80% {
        width:95%;
    }
    to {
        width:100%;
    }
}

@keyframes messageline {
    from {
        width:0%;
    }
    40% {
        width:90%;
    }
    60% {
        width:70%;
    }
    80% {
        width:95%;
    }
    to {
        width:100%;
    }
}



@-moz-keyframes flagleft {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    to {
        transform: translateY(0px);
    }
}

@-webkit-keyframes flagleft{
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes flagleft {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-4px);
    }
    to {
        transform: translateY(0px);
    }
}

@-moz-keyframes flagright {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(0px);
    }
}

@-webkit-keyframes flagright{
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes flagright {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    to {
        transform: translateY(0px);
    }
}


@-moz-keyframes pointcenter {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    90% {
        opacity: 1;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes pointcenter{
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    90% {
        opacity: 1;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pointcenter {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    70% {
        opacity: 1;
        transform: scale(1.1);
    }
    90% {
        opacity: 1;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}





.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

@-moz-keyframes landscapephone {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    10% {
        opacity: 1;
        transform: rotate(0deg);
    }
    30% {
        opacity: 1;
        transform: rotate(90deg);
    }
    50% {
        opacity: 1;
        transform: rotate(90deg);
    }
    90% {
        opacity: 1;
        transform: rotate(90deg);
    }
    to {
        opacity: 0;
        transform: rotate(90deg);
    }
}
@-webkit-keyframes landscapephone {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    10% {
        opacity: 1;
        transform: rotate(0deg);
    }
    30% {
        opacity: 1;
        transform: rotate(90deg);
    }
    50% {
        opacity: 1;
        transform: rotate(90deg);
    }
    90% {
        opacity: 1;
        transform: rotate(90deg);
    }
    to {
        opacity: 0;
        transform: rotate(90deg);
    }
}
@keyframes landscapephone {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    10% {
        opacity: 1;
        transform: rotate(0deg);
    }
    30% {
        opacity: 1;
        transform: rotate(90deg);
    }
    50% {
        opacity: 1;
        transform: rotate(90deg);
    }
    90% {
        opacity: 1;
        transform: rotate(90deg);
    }
    to {
        opacity: 0;
        transform: rotate(90deg);
    }
}


@-moz-keyframes landscapephonecon {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);
    }
    40% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
    90% {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
}
@-webkit-keyframes landscapephonecon {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);
    }
    40% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
    90% {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
}
@keyframes landscapephonecon {
    from {
        transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);
    }
    40% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
    90% {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
    to {
        transform: translateX(-50%) translateY(-50%) rotate(-90deg) scale(0.55);
    }
}



@-moz-keyframes innergrid-t {
    from {
        left:0%;
    }
    50% {
        left:100%;
    }
    to {
        left:100%;
    }
}
@-webkit-keyframes innergrid-t {
    from {
        left:0%;
    }
    50% {
        left:100%;
    }
    to {
        left:100%;
    }
}
@keyframes innergrid-t {
    from {
        left:0%;
    }
    50% {
        left:100%;
    }
    to {
        left:100%;
    }
}

@-moz-keyframes innergrid-b {
    from {
        left:0%;
    }
    50% {
        left:100%;
    }
    to {
        left:100%;
    }
}
@-webkit-keyframes innergrid-b {
    from {
        left:0%;
    }
    50% {
        left:100%;
    }
    to {
        left:100%;
    }
}
@keyframes innergrid-b {
    from {
        left:0%;
    }
    50% {
        left:100%;
    }
    to {
        left:100%;
    }
}


@-moz-keyframes innergrid-l {
    from {
        top:0%;
    }
    50% {
        top:100%;
    }
    to {
        top:100%;
    }
}
@-webkit-keyframes innergrid-l {
    from {
        top:0%;
    }
    50% {
        top:100%;
    }
    to {
        top:100%;
    }
}
@keyframes innergrid-l {
    from {
        top:0%;
    }
    50% {
        top:100%;
    }
    to {
        top:100%;
    }
}


@-moz-keyframes innergrid-r {
    from {
        top:0%;
    }
    50% {
        top:100%;
    }
    to {
        top:100%;
    }
}
@-webkit-keyframes innergrid-r {
    from {
        top:0%;
    }
    50% {
        top:100%;
    }
    to {
        top:100%;
    }
}
@keyframes innergrid-r {
    from {
        top:0%;
    }
    50% {
        top:100%;
    }
    to {
        top:100%;
    }
}


@-moz-keyframes icproducts {
    from {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
    }
    50% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
    }
    to {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
    }
}
@-webkit-keyframes icproducts {
    from {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
    }
    50% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
    }
    to {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
    }
}
@keyframes icproducts {
    from {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
    }
    50% {
        opacity: 1;
        -webkit-box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 60px -1px rgba(74,156,215,1), 0px 0px 20px -1px rgba(74,156,215,1);
    }
    to {
        opacity: 0;
        -webkit-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        -moz-box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
        box-shadow: 0px 0px 31px -1px rgba(74,156,215,1), 0px 0px 10px -1px rgba(74,156,215,1);
    }
}

@-moz-keyframes beamdot {
    from {
        top:0%;
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    to {
        top:100%;
        opacity: 0;
    }
}
@-webkit-keyframes beamdot {
    from {
        top:0%;
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    to {
        top:100%;
        opacity: 0;
    }
}
@keyframes beamdot {
    from {
        top:0%;
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    to {
        top:100%;
        opacity: 0;
    }
}