@mixin test {
	border:1px solid red;
}


@mixin wh100 {
	width:100%;
	height:100%;
}

@mixin ani($speed:0.3s) {
	-moz-transition: all $speed ease;
	-o-transition: all $speed ease;
	-webkit-transition: all $speed ease;
	transition: all $speed ease;
}

@mixin clfix {
	&:after {
		content: "";
		clear: both;
		display: block;
	}
}

@mixin center($width:100%, $mwidth:$width) {
	width:$width;
	max-width:$mwidth;
	margin: 0 auto;
}

@mixin rotate($deg, $a:center, $b:center){
    -webkit-transform: rotate(#{$deg}deg); /* Safari */
    -moz-transform: rotate(#{$deg}deg); /* Firefox */
    -ms-transform: rotate(#{$deg}deg); /* Internet Explorer and Microsoft Edge */
    -o-transform: rotate(#{$deg}deg);
	transform: rotate(#{$deg}deg); /* Standard syntax */
    transform-origin: $a $b;
}

@mixin box-sizing ($p: border-box){
    -webkit-box-sizing: $p; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: $p;    /* Firefox, other Gecko */
        box-sizing: $p;         /* Opera/IE 8+ */
}

@mixin ani($speed:0.3s) {
	-moz-transition: all $speed ease;
	-o-transition: all $speed ease;
	-webkit-transition: all $speed ease;
	transition: all $speed ease;
}

@mixin ani-select($x...){
	moz-transition:$x;
	-o-transition:$x;
	-webkit-transition:$x;
	transition:$x;
}

@mixin box-shadow ($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}

@mixin border-radius ($radius) {
	border-radius:$radius;
	-moz-border-radius:$radius;
	-webkit-border-radius:$radius;
	-khtml-border-radius:$radius;
}

@mixin customani($id, $duration:1000ms, $loop:infinite ,$type:ease-in-out){
	-webkit-animation-name: $id;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: $loop;
	-webkit-animation-timing-function: $type;
	-moz-animation-name: $id;
	-moz-animation-duration: $duration;
	-moz-animation-iteration-count: $loop;
	-moz-animation-timing-function: $type;
	-ms-animation-name: $id;
	-ms-animation-duration:$duration;
	-ms-animation-iteration-count: $loop;
	-ms-animation-timing-function: $type;
	animation-name: $id;
	animation-duration: $duration;
	animation-iteration-count: $loop;
	animation-timing-function: $type;
}

@mixin transform ($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
         transform: $transforms;
}

@mixin opacity ($opacity) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity*100})";
    filter: alpha(opacity=#{$opacity*100});
    -moz-opacity: $opacity;
    -khtml-opacity: $opacity;
    opacity: $opacity;
}

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;

@mixin res($media) {
	@if index($devices, $media) {
		@media only screen and (max-width: $break-tablet - 1) { @content; }
	}
	@else if $media == phones {
		@media only screen and (max-width: $break-mobile - 1) { @content; }
	}
	@else if $media == tablets {
		@media only screen and (max-width: $break-tablet - 1) { @content; }
	}
	@else if $media == tablets-only {
		@media only screen and (min-width: $break-mobile) and (max-width: $break-tablet - 1) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $break-tablet) { @content; }
	}
	@else if $media == not-phones {
        @media only screen and (min-width: $break-mobile) { @content; }
    }
}

@mixin media($media-max) {
	@media only screen and (max-width: $media-max) { @content; }
}

/* Break Set */
$dpi:1800 1700 1660 1600 1440 1400 1366 1200 1024 1023 960 892 768 767 750 700 480 424 423 400 375 374 320;
@each $item in $dpi {
	.br#{$item} {
		display: block !important;
	}
	.view#{$item} {
		display: none !important;
	}
	@media only screen and (max-width: #{$item}px) {
		.br#{$item} { display: none !important; }
		.view#{$item} { display: block !important; }
	}
}

// $s4:1440px;
// $s43:1439px;
// $s3:1023px;
// $s2:768px;
// $s1:767px;

$s4:1440px;
$s43:1439px;
$s3:1006px;
$s2:751px;
$s1:750px;

$color-gold:#ebba73;
$color-gold-d:#e5c06c;
$color-gold-d-hover:#fff0cc;
$color-gold-light:#ffecbb;
