



// From Rolex
/* --logo-height: 80px;
--color-green: #127749;
--color-black: #212121;
--color-white: #fff;
--color-gold: #a37e2c;
--color-grey: #f8f8f8;
--color-dark-grey: #d4d4d4;
--main-font: "RolexFont";
--weight-light: 300;
--weight-regular: 400;
--weight-bold: 700;
--text-font: "Helvetica Now Text","Helvetica Neue","Arial Nova",Helvetica,Arial,sans-serif; */


$pc:1024px;
$tablet:1023px;
$mobile:767px;
$se:350px;

// color
$scmp-yellow:#ffca05;
$scmp-dark-blue:#001246;
$scmp-text-hover:#2c4692;
$scmp-light-blue:#4585ff;
$scmp-light-blue-active:#4585ff;
$scmp-grey:#a1a1a1;
$scmp-cyan:#34b8b5;
$zj-blue:#5abbff;
$zj-red:#ff7575;


$dbs-red:#d4000b;
$dibs-red-light:#ff0018;

$scmp-font-title:Merriweather,serif;
$scmp-font-desc:Roboto,sans-serif;
$scmp-font-anton:'Anton', sans-serif;
$scmp-font-robotoc:'Roboto Condensed', sans-serif;
$scmp-font-philosopher:'Philosopher', sans-serif;

$img:"../images/";
$imgCommon:"https://multimedia.scmp.com/native/infographics/article/common/images/";